*{
    margin: 0;
    padding: 0;
}


nav span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
nav span i{
    font-size: 50px;
    color: #fff;
}
nav span p{
    font-size: 30px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(assets/drive.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    backdrop-filter: blur(20px);
    
    
}


nav img{
    width: 50px;

}
.nav-links{
    flex: 1;
    text-align: right;
    

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
}
.nav-links ul li a{
    color: #f44336;
    text-decoration: none;
    font-size: 16px;

}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-card{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-card h1{
    font-size: 62px;
}
.text-card p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.card-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;

}
.card-button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
 nav .fa-bars{
    display: none;
}
 nav .fa-times{
    display: none;
}
@media(max-width:700px){
    .text-card h1{
        font-size: 32px;
    }
    .nav-links ul li{
        display: block;
 }
   
 }
 nav .fa{
    display: block;
    color: #fff;
    margin: 0 5px 0 5px;
    font-size: 16px;
    cursor: pointer;
 }
 .nav-links ul{
    padding: 20px;
 }



#features{
    padding: 5vw 0 0 8vw;
    text-align: center;

}
#features .fea-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#features .fea-box{
    background: #f9f9ff;
    text-align: start;
}
#features .fea-box i{
    font-size: 3rem;
    color: rgba(44, 44, 80);
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(46, 46, 59);
    padding: 14px 0 8px 0;
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(46, 46, 59);
   
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 600px;
    line-height: 22px;
    padding: 10px;
}
.course .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;


}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
  transform: scale(1.1);
}
.team-box img{
    width: 150px;
    height: 150px;
    border-radius: 55%;
    border: 6px solid #fff;
    object-fit: cover;    
}

#team{
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
}
#team h3{
    font-size: 30px;
    font-weight: 600;
}
#team p{
    font-size: 20px;
}
#team .team-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#team .team-box .profile{
    background: #fafae9;
    padding: 30px 10px;
}
.pro-links{
    margin-top: 10px;
    
}
.pro-links i{
    border: 1px solid rgba(21,21,100);
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.4s;
}
.pro-links i:hover{
    background: #f44336;
    color: #fff;
    border: 1px solid #f44336;
    cursor: pointer;
}
footer{
    padding: 6vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 20px;
}
footer h3{
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgba(241, 240, 245);
}
footer p{
    color: #7b838a;
    font-size: 20px;
}
footer .suscribe{
    margin-top: 20px;

}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;

}
button {
    padding: 14px;
    width: 150px;
    background: #f44336;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

button:hover{
    background: #fff;
    color: #101c32;
    font-weight: 400;
}
footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright p{
    color: #fff;
}
footer .copyright .pro-links{
    margin-top: 0px;
    
}
footer .copyright .pro-links i{
    background-color: #5f7185;
    color: #fff;
}
footer .copyright .pro-links i:hover{
    background: #f44336;
    color: #2c2c2c;
    
}
